@tailwind base;
@tailwind components;

.search-box {
    transition: box-shadow 0.5s linear;
}

.nav-link {
    @apply ml-8 border-b-2 border-white hover:border-gray-600 h-full flex items-center;
    a {
        @apply py-10 px-5;
    }
}

.btn {
    @apply text-lg text-center rounded-sm py-5 font-light w-full;
    &.btn--small {
        @apply py-3 rounded-lg;
    }
}

.btn-link {
    @apply text-lg text-center py-3 rounded-lg font-light w-full text-white bg-red-500;
}

input {
    @apply text-left border border-gray-600 px-5 focus:outline-none focus:border-blue-500 text-lg rounded-sm py-5 font-light w-full;
}

form {
    .input {
        @apply mb-3;
        &.has_error {
            input {
                @apply bg-red-200 border-gray-600 focus:border-gray-600;
            }
        }
    }
}

@keyframes messageFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    5% {
        opacity: 1;
        transform: translateY(50px);
    }
    95% {
        opacity: 1;
        transform: translateY(50px);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

.message {
    animation: messageFadeIn 5s ease-in-out forwards;
    &.info {
        @apply bg-blue-500;
    }
    &.success {
        @apply bg-green-500;
    }
    &.warning {
        @apply bg-yellow-400;
    }
    &.error {
        @apply bg-red-600;
    }
}

@tailwind utilities;
