{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
        rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
        />
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <title>{% block page_title %}{% endblock page_title %} | Nbnb</title>
    </head>
    
    <body class="text-gray-800 mt-24 font-light">
        {% include "partials/messages.html" %}
        <header
            class="
                container
                max-w-full
                inset-0
                flex
                items-center
                justify-between
                px-6
                h-20
                border-b border-gray-400
                fixed
                bg-white
            "
        >
            <div class="flex items-center">
                <a href="{% url 'core:home' %}" class="mr-6">
                    <img class="w-8" src='{% static "img/logo.png" %}' />
                </a>
                {% block search-bar %}
                <form action="{% url 'rooms:search' %}" method="GET">
                    <input
                        class="
                            search-box
                            border
                            px-5
                            w-96
                            font-medium
                            text-gray-900
                            placeholder-gray-600
                            py-3
                            rounded-sm
                            shadow-md
                            hover:shadow-lg
                            focus:outline-none
                        "
                        name="city"
                        type="text"
                        placeholder="Search by city"
                    />
                </form>
                {% endblock search-bar %}
            </div>
            {% include "partials/nav.html" %}
        </header>

        {% block content %} {% endblock content %}
        
        {% include "partials/footer.html" %}

    </body>
</html>
