{% extends 'base.html' %}

{% block page_title %}
Sign Up
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}
<div class="
        container
        mx-auto
        my-10
        flex flex-col
        items-center
        border
        p-6
        border-gray-400
        lg:w-5/12
        md:w-1/2
        xl:w-1/4">
    {% include "partials/social_login.html" %}

    <form action="{% url 'users:signup' %}" method="POST">
        {% csrf_token %}
        {{form.first_name}}
        {{form.last_name}}
        {{form.email}}
        {{form.password}}
        {{form.password1}}
        <button type="submit" class="btn bg-red-500 text-white">
            Sign up
        </button>
    </form>
    <div class="mt-5">
        <span class=" mr-2">
            Have a account
        </span>
        <a href="{% url 'users:login' %}" class=" text-blue-400 font-medium">
            Log In
        </a>
    </div>
</div>
{% endblock content %}